body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(215, 221, 236);
}

*{
    font-family: "Boldonse", system-ui;
}

.message {
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
}

.error {
    background-color: #ffebee;
    color: red;
    border: 1px solid #ef5350;
}

.success {
    background-color: #e8f5e9;
    color: green;
    border: 1px solid greenyellow;
}

.hidden {
    display: none;
}

.main-content {
    flex: 1;
}

.material-symbols-outlined {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    color: #1f2f77;
    text-decoration: underline;
    transition: color 0.2s;
}
a:hover {
    color: #0b1863;
}